@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.titlebar-close {
	margin-left: 10px !important;
	margin-right: 2px !important;
}

.titlebar-min {
	margin-right: 2px !important;
	margin-left: 2px !important;
}

.titlebar-max, .titlebar-restore {
	margin-left: 2px !important;
	margin-right: -20px !important;
}

.tab-line[multiselected], .tab-line[selected="true"] {
	background-color: #ffffff !important;
}
