[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/plugged/coc.nvim"]
	path = vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/plugged/nerdtree-git-plugin"]
	path = vim/plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/plugged/vim-devicons"]
	path = vim/plugged/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/plugged/vim-floaterm"]
	path = vim/plugged/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "vim/plugged/vimtex"]
	path = vim/plugged/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/plugged/split-term.vim"]
	path = vim/plugged/split-term.vim
	url = https://github.com/vimlab/split-term.vim
[submodule "vim/plugged/vim-javascript"]
	path = vim/plugged/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/plugged/vim-jsx-pretty"]
	path = vim/plugged/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "vim/plugged/vim-commentary"]
	path = vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/plugged/vim-gitgutter"]
	path = vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugged/python-syntax"]
	path = vim/plugged/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "vim/plugged/vim-go"]
	path = vim/plugged/vim-go
	url = https://github.com/fatih/vim-go
