snippet sful "stateful widget" b
import 'package:flutter/material.dart';

class $1 extends StatefulWidget {
  @override
  _$1State createState() => _$1State();
}

class _$1State extends State<$1> {
  @override
  Widget build(BuildContext context) {
    return null;
  }
}
endsnippet

snippet sless "stateless widget" b
import 'package:flutter/material.dart';

class $1 extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return null;
  }
}
endsnippet
